// 颜色变量
$blueColor:   #003a7e;
$greenColor:  #67c23a;
$yellowColor: #e6a23c;
$redColor:    #f56c6c;
$infoColor:   #9196a0;

$mainTextColor:    rgb(27, 34, 51);
$defaultTextColor: #586068;
$borderColor:      #DCDFE6;
$borderColor2:      #EBEEF5;

// 页面背景
$bgColor:       #ffffff;
// 页脚背景
$footBgColor:   #212121;
// 菜单颜色
$menuBgColor:   #ffffff;
$menuTextColor: #2d2f4e;

$navHeight: 90px;

$sessionShadow: 0 0 15px rgba($color: #000000, $alpha: .06);

// 大屏幕
$largeScreen:  1360px;
$middleScreen: 1000px;
$smallScreen:  800px;