@font-face {
  font-family: "iconfont"; /* Project id 2913122 */
  src: url('iconfont.woff2?t=1636104495541') format('woff2'),
       url('iconfont.woff?t=1636104495541') format('woff'),
       url('iconfont.ttf?t=1636104495541') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
  content: "\e60d";
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-qq:before {
  content: "\e6b2";
}

.icon-weixin:before {
  content: "\e7e5";
}

.icon-top:before {
  content: "\e608";
}

.icon-email:before {
  content: "\e60c";
}

.icon-f-tel:before {
  content: "\e770";
}

