@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1635942462380') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-qq:before {
  content: "\e6b2";
}

.icon-weixin:before {
  content: "\e7e5";
}

.icon-top:before {
  content: "\e608";
}

.icon-email:before {
  content: "\e60c";
}

.icon-f-tel:before {
  content: "\e770";
}

