@font-face {
  font-family: "iconfont"; /* Project id 2913122 */
  src: url('iconfont.woff2?t=1636450544033') format('woff2'),
       url('iconfont.woff?t=1636450544033') format('woff'),
       url('iconfont.ttf?t=1636450544033') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icmobile:before {
  content: "\e63d";
}

.icon-home:before {
  content: "\e601";
}

.icon-time:before {
  content: "\e629";
}

.icon-aui-icon-back:before {
  content: "\e602";
}

.icon-View:before {
  content: "\e69d";
}

.icon-qq1:before {
  content: "\e60e";
}

.icon-xiazai:before {
  content: "\e60d";
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-qq:before {
  content: "\e6b2";
}

.icon-weixin:before {
  content: "\e7e5";
}

.icon-top:before {
  content: "\e608";
}

.icon-email:before {
  content: "\e60c";
}

.icon-f-tel:before {
  content: "\e770";
}

